<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.user.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.dao.user.entity.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="sys_code" jdbcType="VARCHAR" property="sysCode" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="modify_dt" jdbcType="TIMESTAMP" property="modifyDt" />
    <result column="role_group_code" jdbcType="VARCHAR" property="roleGroupCode" />
  </resultMap>
</mapper>